# Default ignored files
/../../ P8 - Merge PDF Files /.idea/shelf/
/../../ P8 - Merge PDF Files /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../ P8 - Merge PDF Files /.idea/httpRequests/
# Datasource local storage ignored files
/../../ P8 - Merge PDF Files /.idea/dataSources/
/../../ P8 - Merge PDF Files /.idea/dataSources.local.xml
